<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <display-name>CoIn</display-name>
    <context-param>
        <param-name>WEBMASTER</param-name>
        <param-value>mario@3wps.com</param-value>
    </context-param>
    <!--
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:context.xml</param-value>
    </context-param>
    -->
    <!--
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    -->
    <!--
    <listener>
        <listener-class>org.apache.shiro.web.env.EnvironmentLoaderListener</listener-class>
    </listener>
    -->
    <!--
    <listener>
        <listener-class>com.sepel.gesp.listener.GespContextListener</listener-class>
    </listener>
    <filter>
        <filter-name>actionFilter</filter-name>
        <filter-class>com.sepel.common2.filter.ActionFilter</filter-class>
    </filter>
    <filter>
        <filter-name>fileSecurityFilter</filter-name>
        <filter-class>com.sepel.gesp.filters.FileSecurityFilter</filter-class>
    </filter>
    <filter>
        <filter-name>shiroFilter</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    
    </filter>
    <filter>
        <filter-name>BcFilter</filter-name>
        <filter-class>com.sepel.gesp.filters.BcFilter</filter-class>
        <init-param>
            <param-name>BREADCRUMB_FILE</param-name>
            <param-value>/opt/applicazioni/SEPEL-siri/webapps/SEPEL-siri/SEPEL-gesp/WEB-INF/classes/breadcrumbs.xml</param-value>
        </init-param>
    </filter>
    <servlet>
        <servlet-name>RestfulContainer</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>jersey.config.server.provider.packages</param-name>
            <param-value>io.swagger.jaxrs.listing, com.sepel.gesp.services</param-value>
        </init-param>
        <init-param>
            <param-name>jersey.config.server.provider.classnames</param-name>
            <param-value>org.glassfish.jersey.media.multipart.MultiPartFeature</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    -->
    <!--http://siri.sepel7.it:8090/risorse/swagger.json-->
    <!--
    <servlet>
        <servlet-name>Jersey2Config</servlet-name>
        <servlet-class>io.swagger.jersey.config.JerseyJaxrsConfig</servlet-class>
        <init-param>
            <param-name>api.version</param-name>
            <param-value>1.0.0</param-value>
        </init-param>
        <init-param>
            <param-name>swagger.api.basepath</param-name>
            <param-value>/SEPEL-gesp/risorse</param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <filter-mapping>
        <filter-name>shiroFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
     <filter-mapping>
        <filter-name>BcFilter</filter-name>
        <url-pattern>*.jsp</url-pattern>
        <url-pattern>*.do</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>actionFilter</filter-name>
        <url-pattern>*.do</url-pattern>
    </filter-mapping>
     <filter-mapping>
        <filter-name>fileSecurityFilter</filter-name>
        <url-pattern>*.pdf</url-pattern>
    </filter-mapping>
    <servlet-mapping>
        <servlet-name>RestfulContainer</servlet-name>
        <url-pattern>/risorse/*</url-pattern>
    </servlet-mapping>
    -->
    <welcome-file-list>
        <welcome-file>jsp/index.jsp</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>401</error-code>
        <location>/html/unauthorized.html</location>
    </error-page>
</web-app>
